<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-hans">
<head th:fragment="head">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>51liuxue</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/base.css" rel="stylesheet">
    <link href="/css/bootstrap-nonresponsive.css" rel="stylesheet">
    <link href="/media/width-1170.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/my__style.css"/>
    <script src="/js/jquery-1.9.1.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/my__js.js"></script>
</head>
<body  th:fragment="common-navigation">
<div id="header">
    <header id="main-header">
        <div class="header-top">
            <div class="header-top-img lf"><a href=""><img src="/img/abroad-icon-logo.png" alt="首页"/></a></div>

            <div class="header-top-a rt" th:if="${#httpServletRequest.getAttribute('loginUser')}==null">
                <a class="header_img"><img src="/img/boy.jpg"/></a>
                <ul class="ul_img">
                    <li><a href="/user/login">登录</a></li>
                    <li><a href="/user/register">注册</a></li>
                </ul>
            </div>

            <div class="header-top-a rt" th:if="${#httpServletRequest.getAttribute('loginUser')}!=null">
                <a class="header_img"><img th:src="${#httpServletRequest.getAttribute('loginUser').getAvatarUrl()}"/></a>
                <ul class="ul_img">
                    <li><a href="/user/profile">总览</a></li>
                    <li><a href="/user/setting">个人设置</a></li>
                    <li><a href="/user/community">我的社区</a></li>
                    <li><a href="/user/collect">我的院校</a></li>
                    <li><a href="/user/history">浏览记录</a></li>
                    <li><a href="/user/message">我的消息</a></li>
                    <li><a href="/user/logout">退出登录</a></li>
                </ul>
            </div>

            <div class="header-top-input rt">
                <input type="text" class="form-text form-autocomplete ui-autocomplete-processed ui-autocomplete-input"/>
                <i class="fa fa-search"></i>
                <ul class="ul_input button-holder">
                    <li> <i class="fa fa-filter"></i>&nbsp;过滤

                        <hr/>




                    <li><input type="radio" id="radio-1-1" name="radio-1-set" class="regular-radio" checked /><label for="radio-1-1"></label>College Search</li>
                    <li><input type="radio" id="radio-1-2" name="radio-1-set" class="regular-radio" /><label for="radio-1-2"></label>Overseas News</li>
                    <li><input type="radio" id="radio-1-3" name="radio-1-set" class="regular-radio" /><label for="radio-1-3"></label>留学攻略</li>
                    <li><input type="radio" id="radio-1-4" name="radio-1-set" class="regular-radio" /><label for="radio-1-4"></label>留学案例</li>







                </ul>
            </div>

            <div class="clear"></div>
        </div>
    </header>

    <div class=" main-menu-box">

        <ul class="ul_">
            <li class="header-img"><a href=""><img src="/img/abroad-icon-logo.png" alt=""/></a></li>
            <li class="li"><a href="cn"class="li-active">首页</a></li>
            <li class="li"><a href="school-list" class="li-active">院校库</a> <span class="slimmenu-sub-collapser"><i
                    class="fa fa-angle-down"></i></span>
                <ul class="ul_child nav-342">
                    <li><a href="school-singapore">新加坡</a></li>
                    <li><a href="school-america">美国</a></li>
                    <li><a href="school-england">英国</a></li>
                    <li><a href="school-canada">加拿大</a></li>
                    <li><a href="school-australia">澳洲</a></li>
                    <li><a href="school-newzealand">新西兰</a></li>
                </ul>
            </li>
            <li class="li"><a href="school-ranking"class="li-active">排行榜</a></li>
            <li class="li"><a href="community" class="li-active">留学校区</a> <span class="slimmenu-sub-collapser"><i
                    class="fa fa-angle-down"></i></span>
                <ul class="ul_child nav-228">
                    <li><a href="community-inquire">留学问问</a></li>
                    <li><a href="community-info">留学资讯</a></li>
                    <li><a href="community-strategy">留学攻略</a></li>
                    <li><a href="community-cases">案例故事</a></li>
                </ul>
            </li>
            <li class="li"><a href="tools" class="li-active">留学小工具</a> <span class="slimmenu-sub-collapser"><i
                    class="fa fa-angle-down"></i></span>
                <ul class="ul_child nav-342">
                    <li><a href="tools-evaluation">在线评估</a></li>
                    <li><a href="tools-toefl">TOEFL测试</a></li>
                    <li><a href="tools-ielts">IELTS测试</a></li>
                    <li><a href="tools-gpa">GPA计算</a></li>
                    <li><a href="tools-faqs">常见问题</a></li>
                    <li><a href="tools-currency">实时汇率</a></li>
                </ul>
            </li>

        </ul>

    </div>

    <div class="div_ul">
        <ul class="juedui">
            <li class="seach ie"><a href="#"></a><img src="/img/seach_main.png" /></li>
            <li class="phone ie"><a href="#"></a><img src="/img/phone_main.png"  /></li>
            <li class="tip ie"><a href="#"></a><img src="/img/tip_main.png" /></li>
            <li class="weixin ie"><a href="#"></a><img src="/img/weixin_main.png"  /></li>

        </ul>
    </div>

    <!--左边滚动到顶部-->
    <div id="top-btn">
        <a id="nav-top" class="fa fa-chevron-up top-icon"></a>
    </div>

</div>
<!--左边悬浮图标-->



